<form [formGroup]="spendingForm" (ngSubmit)="addSpending()">
  <label for="amountInput">Amount</label>
  <input
    type="number"
    name="Amount"
    step="0.01"
    id="amountInput"
    [formControl]="spendingForm.controls.amount"
  />
  <label for="categoryInput">Category</label>
  <input
    type="text"
    name="Category"
    id="categoryInput"
    [formControl]="spendingForm.controls.category"
  />
  <label for="dateInput">Date</label>
  <input
    type="date"
    name="Date"
    id="dateInput"
    pattern="\d{4}-\d{2}-|d{2}"
    [formControl]="spendingForm.controls.date"
  />
  <label for="commentInput">Comment</label>
  <input
    type="text"
    name="Comment"
    id="commentInput"
    [formControl]="spendingForm.controls.comment"
  />
  <button type="submit">Send</button>
</form>
